<div class="container mt-4">
  <div class="row">
    <div class="col-md-5">
      <div>
        <h1>Welcome to SBA</h1>
        <p class="lead">The Student Bank App for Easy Money Management</p>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="features">
            <h2>Key Features</h2>
            <ul class="list-unstyled">
              <li>Money management made easy</li>
              <li>Pay anywhere online</li>
              <li>Store and manage your money securely</li>
              <li>No contract, leave any time</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="benefits">
            <h2>Benefits of SBA</h2>
            <ul class="list-unstyled">
              <li>Have up to 3 accounts at one time</li>
              <li>Have up to 3 one-time disposable cards</li>
              <li>Easily search your transactions </li>
            </ul>
          </div>

          <div *ngIf="sessionStorage.getItem('authenticated') != 'true'"  class="call-to-action mt-4">
            <h2>Join SBA Today!</h2>
            <p>Sign up for free and start managing your money with ease.</p>
            <a class="btn btn-primary" routerLink="/register">Get
              Started</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="home-image"></div>
    </div>
  </div>
</div>
