<div class="container-fluid p-0 m-0 ">
  <div class="row p-0 ">
    <nav class="col-md-2 px-5 m-0 vertical-navbar">
      <button class="logo" routerLink="/"><h1 class="logo">SBA</h1></button>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li *ngIf="isUserLogedIn()" class="nav-item">
          <a class="nav-link" routerLink="/account">Accounts</a>
        </li>
        <li *ngIf="isUserLogedIn()" class="nav-item">
          <a class="nav-link" routerLink="/transactions">Transactions</a>
        </li>
        <li *ngIf="isAdmin" class="nav-item">
          <a class="nav-link" routerLink="/users">All users</a>
        </li>
      </ul>

    </nav>
    <div class="col-md-10">
      <div class="row border-nav hor-nav pe-5">
        <span *ngIf="!isUserLogedIn()" class="col-md-10 login-profile-span">
          <a class="hor-nav-link" routerLink="/login">Sign in</a>
          <button class="hor-nav-but" routerLink="/register">Sign up</button>
        </span>

        <span *ngIf="isUserLogedIn()" class="col-md-10 login-profile-span">
          <div class="btn-group">
    <button (click)="toggleDropdown()" [class.show]="isDropdownOpen" aria-expanded="false" class="dropdown-button">
      {{username}} <i class="bi bi-caret-down"></i>
    </button>
    <ul [class.show]="isDropdownOpen" class="dropdown-menu position-dropdown">
      <li><a (click)="toggleDropdown()" class="dropdown-item" routerLink="/profile">Profile</a></li>
      <li><a (click)="logout(); toggleDropdown()" class="dropdown-item" style="cursor: pointer">Logout</a></li>
    </ul>
  </div>
        </span>
        <button (click)="toggleTheme()" class="hor-nav-but-round">
          <i *ngIf="!isDarkModeOn" class="bi bi-brightness-high-fill"></i>
          <i *ngIf="isDarkModeOn" class="bi bi-moon-fill"></i>
        </button>
      </div>
      <div class="row">
        <div class="col-md-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>



